<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Properties>
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="xyz.funkybit" level="DEBUG" additivity="false">
            <AppenderRef ref="STDERR"/>
        </Logger>
        <Logger name="org.web3j" level="DEBUG" additivity="false">
            <AppenderRef ref="STDERR"/>
        </Logger>
        <Logger name="org.web3j.protocol" level="DEBUG" additivity="false">
            <AppenderRef ref="STDERR"/>
        </Logger>
        <Logger name="org.web3j.crypto" level="DEBUG" additivity="false">
            <AppenderRef ref="STDERR"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="STDERR"/>
        </Root>
    </Loggers>
</Configuration> 